:root {
  --main-font: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', sans-serif;
}

body {
  font-family: var(--main-font);
}

button,
input,
select,
textarea {
  font-family: var(--main-font);
}

* {
  box-sizing: border-box;
}

p {
  margin: 0 !important;
}

h2 {
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: inherit;
}

.app-content {
  padding: 24px;
  background-color: #FFF !important;  
}

.no-padding {
  padding: 0;
}

@media (max-width: 768px) {
  .content {
    padding: 10px;
  }
}