* {
  box-sizing: border-box;
}

p {
  margin: 0 !important;
}

h2 {
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: inherit;
}

.content {
  padding: 24px;
}

.no-padding {
  padding: 0;
}